<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/extra.css">
        <script src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-alerts.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-twipsy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-tabs.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-buttons.js"></script>
        <script src="{{ STATIC_URL }}js/theme.js"></script>
        <script src="{{ STATIC_URL }}js/pinax.modal.js"></script>
        <script type='text/javascript'>

                $('.dropdown-toggle').dropdown();    



            
        </script>
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        
        {% block topbar_base %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            <h3><a class='brand' href="{% url home %}">AAACEC</a></h3>
                            <div class='navbar-collapse'>
                                {% block nav %}{% endblock %}
                                <ul class="nav pull-right">
                                    <li class="dropdown">
                                        <a href="#"
                                        class="dropdown-toggle"
                                        data-toggle="dropdown">
                                            Account
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        
        {% block body_base %}
            <div class="container">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
        
        {% block footer_base %}
            <div id="footer">
                <div class="inner">
                    <div class="container">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
